$color-sidebar: #5B605F;             //panel boczny
$color-nav: #5B605F;                 //nawigacja
$color-header: #4a4a49;              //nagłówek
$color-table-font: #4a4a49;          //kolor tekstu w kolumnach
$color-buttons: #FF6600;             //przyciski
$color-highlights: #FF6600;          //wyróżnienia
$color-screen-header: #FF6600;       //nagłówki ekranów
$color-screen-background: #FFFFFA;   //kolor tła ekranów
$color-info-massage: #3498DB;        //kolor wiadomości typu info
$color-warning-massage: #FFB03B;     //kolor wiadomości typu warning
$color-success-massage: #468966;     //kolor wiadomości typu success
$color-trash-icon: #BD4932;          //kolor ikony kosza
$color-row-font: #A1A194;            //kolor tekstu z wierszy w tabelach
$color-expand-icons: #A1A194;        //kolor ikony rozszerzonych funkcji
$color-logo-white: #FFF;             //kolor biały w logo
$color-logo-orange: #E58A20;         //kolor pomarańczowy w logo